# Environment variables
.env
*.env.*
!*.env.template

# Build artifacts
dist/
build/
*.spec

# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]

# macOS specific files
.DS_Store

turbosync.rb
/homebrew-turbosync